doctype html
html(lang='en')
  head
    link(rel='shortcut icon' href='/static/favicon.ico')
    link(rel='stylesheet' href='/static/bootstrap.min.css')
    link(rel='stylesheet' href='/static/bootstrap-theme.min.css')
    link(rel='stylesheet' href='/static/app.css')
    script(src='/static/jquery-3.1.1.min.js')
    script(src='/static/bootstrap.min.js')

    block title
      title Example for microservices
  body
    .vertical-center.row.centered-form.center-block
        .container.col-md-6.col-md-offset-4
            block content