extends layout.pug

block title
  title Login

block content
  h1 Login
  form(action='/login' method='post' enctype='application/x-www-form-urlencoded')
    .form-group
      label(for='email') Email:
        input.form-control(type='email' name='email' id='email' placeholder='email')
    .form-group
      label(for='password') Password:
        input.form-control(type='password' name='password' id='password' placeholder='password')
    .form-group
      button.btn.btn-primary(type='submit') Login
      a.btn.btn-default.btn-xs(href='/register' role='button') Not Registered?